<section id="last-section">
    <div class="container py-3">
        <div class="row">
            <div class="col-md-4">
                <div class="location text-white text-center">
                    <h3>LOCATION</h3>
                    <p>2215 John Daniel Drive</p>
                    <p>Clark, MO 65243</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="web text-white text-center">
                    <h3>AROUND THE WEB</h3>
                    <div class="social-icons d-flex justify-content-center">
                        <div class="icon d-flex justify-content-center align-items-center ms-2">
                            <i class="fa-brands fa-facebook"></i>
                        </div>
                        <div class="icon d-flex justify-content-center align-items-center ms-2">
                            <i class="fa-brands fa-twitter"></i>
                        </div>
                        <div class="icon d-flex justify-content-center align-items-center ms-2">
                            <i class="fa-brands fa-linkedin-in"></i>
                        </div>
                        <div class="icon d-flex justify-content-center align-items-center ms-2">
                            <i class="fa-solid fa-globe"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="freelancer text-white text-center">
                    <h3>ABOUT FREELANCER</h3>
                    <p>Freelance is a free to use, licensed Bootstrap theme created by Route</p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="py-3 text-center">
    <p class="text-white">Copyright © Your Website 2021</p>
</footer>