
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.line{
    width: 100px;
    height: 5px;
    background-color: #fff;
}

#about{
    background-color: #1ABC9C;
    height: 80vh;
}
#about h2{
    font-size: 40px;
}

