<section id="about" class="d-flex flex-column justify-content-center align-items-center">
    
<div class="container-fluid py-5">
    <div class="about-content text-white">
        <h2 class="fw-bolder text-center mb-3">ABOUT COMPONENT</h2>

        <div class="text-center d-flex align-items-center justify-content-center my-3">
            <div class="line"></div>
        <div class="for-icon">
            <i class="fa-solid fa-star mt-1 mx-3"></i>
        </div>
        <div class="line"></div>   
        </div>
        
    <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="para1 me-3">
                        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="para2 ms-3">
                        <p>Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p>
                    </div>
                </div>
            </div>
    </div>
</div>

</section>