<nav class="navbar navbar-expand-sm navbar-light py-3">
      <div class="container">
        <a class="navbar-brand text-white fw-bolder" href="#">START FRAMEWORK</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav ms-auto mt-2 mt-lg-0 me-4">
                <li class="nav-item">
                    <a class="nav-link text-white fw-bolder me-3" routerLink="about" routerLinkActive="bg-style">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fw-bolder me-3" routerLink="portfolio" routerLinkActive="bg-style">PORTFOLIO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white fw-bolder" routerLink="contact" routerLinkActive="bg-style">CONTACT</a>
                </li>
            </ul>
        </div>
  </div>
</nav>

