
#portfolio i,h2{
    color: #2C3E50;
}
#portfolio h2{
    font-size: 40px;
}

.line{
    width: 100px;
    height: 4px;
    background-color:#2C3E50 ;
}

.bg-layer{
    background-color: RGBA(13, 110, 253, 0.25);
}
.model img{
    margin-top: 100px;
}

.layer{
    background-color: rgba(26,188,156,0.9);
    opacity: 0;
    transition: opacity 1s;
    cursor: pointer;
}

.layer:hover{
    opacity: 1;
}