
<section id="home" class="d-flex flex-column justify-content-center align-items-center">

    <div class="container-fluid">

        <div class="home-content text-center text-white">
            <img src="../../assets/images/avataaars.svg" alt="avatar"/>

            <h2 class="fw-bolder mt-4">START FRAMEWORK</h2>

            <div class="text-center d-flex align-items-center justify-content-center my-3">
                <div class="line"></div>
            <div class="for-icon">
                <i class="fa-solid fa-star mt-1 mx-3"></i>
            </div>
            <div class="line"></div>   
            </div>

            <div>
                Graphic Artist - Web Designer - Illustrator
            </div>

            

        </div>
    </div>
</section>