
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.line{
    width: 100px;
    height: 5px;
    background-color: #fff;
}

#home{
    background-color: #1ABC9C;
    height: 80vh;
}

.home-content img{
    width: 280px;
    height: 280px;
    border-radius: 50%;
}

.home-content h2{
    font-size: 40px; 
}

